<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		{% include './blocks/section-front.twig' %}

		<div class="main" id="services">

			<!-- start of introduction-->


			<div class="section section-basic">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Northwest
								Hosting
							</h1>

							<h3 style="text-align: center; margin-bottom:50px;">Professional, all-in-one datacenter
								solutions.</h3>

							<div class="row row-grid justify-content-center">
								<div class="col-lg-6">
									<h4 class="info-title" style="text-align: center;font-weight:600;">Junsele,
										Sweden
									</h4>
									<div class="gradient-line thin" style="margin-bottom:10px;"></div>
									<h4 style="text-align: center;">Co-hosting in datacenter building.</h4>
									<h4 style="text-align: center;">Build your own datacenter facility and connect
										to our grid.
									</h4>
									<h4 style="text-align: center;">Setup Datacenter Containers and connect to the
										grid.
									</h4>
									<h4 style="text-align: center;">Optional Temporary Miner Hosting.</h4>
									<h4 style="text-align: center;">Company Incorporation.</h4>
									<h4 style="text-align: center;">Legal Advise and Tax Solutions.</h4>
									<h4 style="text-align: center;">Redudant Energy from Renewable Sources.</h4>
									<h4 style="text-align: center;">Crypto Friendly Environment.</h4>
									<h4 style="text-align: center;">Office Space Available.</h4>
									<h4 style="text-align: center;">Fiber Internet</h4>
									<h4 style="text-align: center;">200MW Available<p style="color:red;">Potentially
											up to 500MW.</style>
									</h4>
									<h4 style="text-align: center;">Minimum Allowance: 1MW</h4>
								</div>

								<div class="col-lg-6">
									<h4 class="info-title" style="text-align: center;font-weight:600;">Geleen,
										Netherlands
									</h4>
									<div class="gradient-line thin" style="margin-bottom:10px;"></div>
									<h4 style="text-align: center;">Co-hosting in datacenter building.</h4>
									<h4 style="text-align: center;">Optional Temporary Miner Hosting.</h4>
									<h4 style="text-align: center;">Company Incorporation.</h4>
									<h4 style="text-align: center;">Legal Advise and Tax Solutions.</h4>
									<h4 style="text-align: center;">Ready-made Office Space Available</h4>
									<h4 style="text-align: center;">Fiber Internet</h4>
									<h4 style="text-align: center;">Redudant Energy from Several Sources.</h4>
									<h4 style="text-align: center;">20MW Available
									</h4>
									<h4 style="text-align: center;">Minimum Allowance: 100KW</h4>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="gradient-line thin" id="contact"></div>

				<section>
					<div class="container" style="margin-top:150px;margin-bottom:150px;">
						<div class="row justify-content-center">
							<div class="col-lg-12">

								<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Looking
									for a
									solution?
								</h1>
								<h4 style="text-align: center; margin-bottom:50px;">Not enough space in your existing
									datacenter? Banned by county regulations? Electricity price went up? <br>No matter
									what
									your
									situation is.<br>
									Northwest Hosting is able to provide best-in-class advise to its clients and
									cooperate to find a quick and clean solution to your situation.<br>
									Click on the button below and we will contact you within 24 hours, even during
									weekends
									and holidays.</h4>
								<h4 style="text-align: center; margin-bottom:50px;"></h4>
								<div class="row" style="justify-content:center;text-align: center;">
									<div style="text-align:center;justify-content: center;"> <a
											class="typeform-share button"
											href="https://form.typeform.com/to/map7B3Tu?typeform-medium=embed-snippet"
											data-mode="popup"
											style="display:inline-block;text-decoration:none;background-color:#0445AF;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
											data-size="100" target="_blank">Contact Us </a> </div>
									<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
								</div>
							</div>
						</div>
					</div>

				</section>
			</div>



			<div class="gradient-line thin"></div>

			<!-- end of introduction-->



		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>