<footer class="footer" id="footer">
	<div class="container" style="justify-content: center;text-align: center;">


		<p style="font-weight: 600;">Northwest Hosting LTD- Incorporated in the UK under the number <a
				href="https://find-and-update.company-information.service.gov.uk/company/13117922">13117922</a>.
		</p><br>
		<p style="font-weight: 600;">Visting Address: Hålafors 225, 880 30, Näsåker, Sweden</p><br>
		<p style="font-weight: 600;">Datacenter Sweden: 88037, Junsele, Sweden</p><br>
		<p style="font-weight: 600;">Datacenter Netherlands: 6167AC, Geleen, Netherlands</p><br>

	</div>
</footer>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
	(function () {
		var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
		s1.async = true;
		s1.src = 'https://embed.tawk.to/5e9f385f69e9320caac5f067/default';
		s1.charset = 'UTF-8';
		s1.setAttribute('crossorigin', '*');
		s0.parentNode.insertBefore(s1, s0);
	})();
</script>
<!--End of Tawk.to Script-->