<footer class="footer" id="footer">
	<div class="container">
		<div class="row" style="justify-content: center;">
			<p>Northwest Hosting LTD - HQ: Hålafors 225, 880 30, Näsåker, Sweden</p>
		</div>
	</div>
</footer>