<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="./assets/favicon/favicon.png">
	<title>
		Northwest Hosting
	</title>
	<!-- Extra details for Live View on GitHub Pages -->
	<!-- Canonical SEO -->
	<link rel="canonical" href="https://www.northwest-hosting.com" />
	<!--  Social tags      -->
	<meta name="keywords" content="Northwest Hosting">
	<meta name="description" content="Northwest Hosting">
	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Northwest Hosting">
	<meta itemprop="description" content="Northwest Hosting">
	<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@northwest_hosting">
	<meta name="twitter:title" content="Northwest Hosting">
	<meta name="twitter:description" content="Northwest Hosting">
	<meta name="twitter:creator" content="@northwest_hosting">
	<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg">
	<!-- Open Graph data -->
	<meta property="fb:app_id" content="">
	<meta property="og:title" content="Northwest Hosting" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://northwest-hosting.com" />
	<meta property="og:image"
		content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg" />
	<meta property="og:description" content="Northwest Hosting" />
	<meta property="og:site_name" content="Northwest Hosting" />

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<!-- Nucleo Icons -->
	<link href="./assets/css/nucleo-icons.css" rel="stylesheet" />

	<!-- CSS Files -->
	<link href="./assets/css/style.css" rel="stylesheet" />

</head>