<div class="page-header header-filter" id="home">
	<div class="container">
		<div class="content-center brand">
			<img class="img logo" src="./assets/img/logo/logo-white-cropped.png" style="margin-bottom:25px;"
				alt=""></img>
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="btn-wrapper profile">
							<a target="_blank" href="https://twitter.com/northwest-hosting"
								class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
								data-original-title="Follow us">
								<i class="fab fa-twitter"></i>
							</a>
							<a target="_blank" href="https://github.com/northwest-hosting"
								class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
								data-original-title="Code with us">
								<i class="fab fa-github"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gradient-line thin"></div>